{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="my-4">Detalle del Jugador</h1>
    <div class="card">
        <div class="card-body">
            <p class="card-text"><strong>Nombre:</strong> {{ jugador.nombre }}</p>
            <p class="card-text"><strong>Apellidos:</strong> {{ jugador.apellidos }}</p>
            <p class="card-text"><strong>Equipo:</strong> {{ jugador.equipo.nombre }}</p>
            <p class="card-text"><strong>Teléfono:</strong> {{ jugador.telefono }}</p>
            <a href="{% url 'modificar_jugador' jugador.id %}" class="btn btn-primary">Modificar</a>
            <a href="{% url 'borrar_jugador' jugador.id %}" class="btn btn-danger">Borrar</a>
        </div>
    </div>
    <a href="{% url 'jugadores' %}" class="btn btn-secondary mt-3">Volver a jugadores</a>
</div>
{% endblock %}
